.board {
  display: grid;
  /* grid-template-columns: repeat(); */
}

.spot {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". u ." "l center r" ". d .";
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex: 1 1;
}